body{
    margin: 0;
}

.tela{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.menu{
    padding-top: 5%;
    background-image: url('./img/menu.png');
    width: 20%;
}

.menu div h1{
    color: white;
    text-align: center;
}

.opcoes{
    margin-top: 20%;
    
}

.opcoes a{
    color: white;
    margin-left: 10%;
    font-size: 16pt;
    font-weight: 400;
}
.opcoes hr{
    margin-top: 5%;
    margin-bottom: 5%;
}

.informacoes{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.cabecalho div{
    display: inline-flex;
}
